<html>

<head>
    <link rel="stylesheet" href="./sidebar.css">
</head>

<body>
    <div class="m-sidebar">
        <div>
            <div class="m-sidebar-subtitle">
                <span>
                    Design Thinking: Theories and Application
                </span>
            </div>
            <div class="m-sidebar-title">
                <span>
                    Module1: Why we need to learn Design Thinking
                </span>
            </div>
        </div>
        <div class="m-sidebar-sub-module-title">
            <span>
                M1.1 Objective
            </span>
        </div>
        <div class="m-sidebar-sub-module-title active">
            <span>
                M1.2 Tradition Problem Solving Approach
            </span>
        </div>
        <div class="m-sidebar-course-menu">
            <span>
                Course Menu
            </span>
        </div>
    </div>
</body>


</html>