<div class="m-text-video-block">
  <div class="m-video-preview" data-video-id="{{ video_id }}">
    <img class="m-video-preview-thumbnail" src="{{ video_preview }}" />
    <img class="m-video-preview-play" src="https://polyuit-my.sharepoint.com/personal/lyshochan_polyu_edu_hk/Documents/Commission/MOOC/VideoThumbnail/PlayButton/PlayButton50%25.png" />
  </div>
  <div class="m-text-block">
    <div class="m-video-title">
      {{ title }}
    </div>
    <div class="m-video-description">
      {{ description }}
    </div>
    <div>
      <form target="_blank">
        <button class="m-video-download-content" formaction="{{ handout_url }}">Download Handout</button> 
      </form>
    </div>
  </div>
</div>